<h1>Blog List</h1>
<ul ng-if='items.length > 0'>
    <li ng-repeat='post in items'>
            <a ng-href='#' confirm-click='Are you ready?' confirmed-click='goToItem(post)'/>{{ post.title }} {{ post.publishDate }}</a>
            <!-- <a href='#' ng-click='goToItem(post)'/>{{ post.title }} {{ post.publishDate }}</a> -->
           <!--   <confirm-click message='Are you positive?' post='item' eq='10+100'></confirm-click> -->
    </li>
</ul>

<span ng-if='items.length == 0'>Posts coming soon</span>
